<div class="container">
    <form>
        <div class="card-header">
            <div id="nomeOrdem" class="col-8" style="font-size: 30px; font-weight: bolder; color: rgb(82, 80, 80);">
                    Ordem de Serviço
                </div>
        </div>
        
        <div class="alter alter-primary" relo="alert">
            {{mens}}
        </div>
    
        <div class="card-body" style="background-color: #9C9C9C;">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputDescrServ">Descrição da O. de Serviço</label>
                    <textarea type="text" class="form-control" name="inputDescrServ" [(ngModel)]="objeto.descricaoServ"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLaboratorio">Laboratório</label>
                    <select class="form-control" name="inputLaboratorio" id="inputLaboratorio" on-change="atribuirLab(d.value)" #d>
                        <option value="" disabled selected>Selecione o Laboratório/Sala:</option>
                        <option *ngFor="let objLab of labLista" value="{{objLab.id}}" [selected]="objLab.id === objeto.labNome.id">{{objLab.labNome}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTipo">Tipo de Serviço</label>
                    <select class="form-control" name="inputDescricao" id="inputDescricao" on-change="atribuirTipo(a.value)" #a>
                        <option value="" disabled selected>Selecione o Tipo de Serviço:</option>
                        <option value= 1 >Sem Descrição</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputFuncionario">Funcionário</label>
                    <select class="form-control" name="inputFuncionario" id="inputFuncionario" on-change="atribuirFunc(b.value)" #b>
                        <option value="" disabled selected>Selecione o Funcionário:</option>
                        <option value= 1 >Sem Funcionário</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="inputCliente">Solicitante / Cliente</label>
                    <select class="form-control" name="inputCliente" id="inputCliente" on-change="atribuirPes(c.value)" #c>
                        <option value="" disabled selected>Selecione o Cliente:</option>
                        <option *ngFor="let objPes of objPes" value="{{objPes.id}}" [selected]="objPes.id === objeto.cliente.id">{{objPes.nome}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputDataEmissao">Data de Emissão</label>
                    <input type="text" class="form-control" name="inputDataEmissao" id="inputDataEmissao" [(ngModel)]="objeto.dataEmissao">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputStatus">Status</label>
                    <select class="form-control" name="inputStatus" id="inputStatus" [(ngModel)]="objeto.status">
                        <option value="Aberto">Aberto</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLocal">Local do Serviço</label>
                    <select class="form-control" name="inputLocal" id="inputLocal" [(ngModel)]="objeto.local">
                        <option value="Goiânia - Unidade 1">Goiânia - Unidade 1</option>
                        <option value="Goiânia - Unidade 2">Goiania - Unidade 2</option>
                        <option value="Goiânia - Unidade 3">Goiânia - Unidade 3</option>
                        <option value="Ap. de Goiânia - Unidade 1">Ap. de Goiânia - Unidade 1</option>
                        <option value="Ap. de Goiânia - Unidade 2">Ap. de Goiânia - Unidade 2</option>
                        <option value="Anápolis">Anápolis</option>
                    </select>
                </div>
            </div>
            <div id="botao">
                <div id="bottonn" class="col-md-14" style="padding-left: 930px; margin-bottom: 20px;">
                    <button type="button" style="position:-ms-page;" class="btn btn-primary" (click)="adicionar()">Criar Nova O.S.</button> 
                </div>
            </div>


            
            <div class="card">
                <div class="card-body" style="background-color: #9C9C9C; font-size: 13px;">
                    <table class="table">
                        <th scope="col"> Código </th>
                        <th scope="col"> Laboratório </th>
                        <th scope="col"> Cliente </th>
                        <th scope="col"> Data de Emissão </th>
                        <th scope="col"> Status da Ordem </th>
                        <th scope="col"> Local </th>
                        <tr *ngFor="let objeto of ordemLista">
                    
                            <td>{{objeto.id}}</td> 
                            <td>{{objeto.labNome.labNome}}</td>
                            <td>{{objeto.cliente.nome}}</td>
                            <td>{{objeto.dataEmissao}}</td>
                            <td>{{objeto.status}}</td>
                            <td>{{objeto.local}}</td>
                        
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
