<div class="container">
    <form>
        <div class="card-header">
            <div class="col-8" style="font-size: 30px; font-weight: bolder; color: rgb(82, 80, 80);">
                    Cadastro de Cliente
                </div>
        </div>
        
        <div class="alter alter-primary" relo="alert">
            {{mens}}
        </div>
    
        <div class="card-body" style="background-color: #9C9C9C;">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" name="inputNome" [(ngModel)]="objeto.nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCpfCnpj">CPF / CNPJ</label>
                    <input type="text" class="form-control" name="inputCpfCnpj" id="inputCpfCnpj" [(ngModel)]="objeto.cpfCnpj">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTelefone">Telefone</label>
                    <input type="text" class="form-control" name="inputTelefone" placeholder="(00) 90000-0000" id="inputTelefone" [(ngModel)]="objeto.telefone">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">E-mail</label>
                    <input type="email" class="form-control" name="inputEmail" placeholder="name@email.com" [(ngModel)]="objeto.email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLogin">Login</label>
                    <input type="text" class="form-control" name="inputLogin" [(ngModel)]="objeto.login">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSenha">Senha</label>
                    <input type="password" class="form-control" name="inputSenha" [(ngModel)]="objeto.senha">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputFuncao">Funcao</label>
                    <input type="text" class="form-control" name="inputFuncao" [(ngModel)]="objeto.funcao">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPerfil">Perfil</label>
                    <select class="form-control" name="inputPerfil" [(ngModel)]="objeto.perfil">
                        <option value="Cliente">Cliente</option>
                        <option value="Funcionario">Funcionário</option>
                    </select>
                </div>
            </div>
            <div id="botao">
                <div class="col-md-14" style="padding-left: 900px;margin-bottom: 20px;">
                    <button type="button" style="position:-ms-page;" class="btn btn-primary" (click)="adicionar()">Novo </button> |
                    <button type="button" style="position:-ms-page;" class="btn btn-warning" (click)="alterar()">Atualizar </button>
                </div>
            </div>

            <div class="card">
                <div class="card-body" style="background-color: #9C9C9C; font-size: 12px;">
                    <table class="table">
                        <th scope="col"> Nome </th>
                        <th scope="col"> Telefone </th>
                        <th scope="col"> E-Mail </th>
                        <th scope="col"> Função </th>
                        <th scope="col"> Perfil </th>
                        <tr *ngFor="let objeto of pessoa">
                    
                            <td>{{objeto.nome}}</td>
                            <td>{{objeto.telefone}}</td>
                            <td>{{objeto.email}}</td>
                            <td>{{objeto.funcao}}</td>
                            <td>{{objeto.perfil}}</td>
                            
                            <td><button type="button" class="btn btn-secondary" style="border-color:rgb(41, 40, 40);" (click)="carregarDados(objeto)">Carregar Dados</button></td>
                        
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
