<div class="container">
    <form>
        <div class="card-header">
            <div id="nomeOrdem" class="col-8" style="font-size: 30px; font-weight: bolder; color: rgb(82, 80, 80);">
                    Laboratório / Sala
                </div>
        </div>
        
        <div class="alter alter-primary" relo="alert">
            {{mens}}
        </div>
    
        <div class="card-body" style="background-color: #9C9C9C;">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputLaboratorio">Nome do Laboratorio</label>
                    <input type="text" class="form-control" placeholder="Lab00 / Sala00" name="inputLaboratorio" [(ngModel)]="objeto.labNome">
                </div>
                <div id="botao">
                <div id="bottonn" class="col-md-14" style="padding-left: 730px; margin-bottom: 20px;">
                    <button type="button" style="position:-ms-page;" class="btn btn-primary" (click)="adicionar()">Novo Laboratório</button> |
                    <button type="button" style="position:-ms-page;" class="btn btn-warning" (click)="alterar()">Atualizar </button> |
                    <button type="button" style="position:-ms-page;" class="btn btn-danger" (click)="excluir()">Excluir </button>
                
                </div>
                </div>
            </div>

            
            <div class="card">
                <div class="card-body" style="background-color: #9C9C9C; font-size: 13px;">
                    <table class="table">
                        <th scope="col"> ID </th>
                        <th scope="col"> Laboratório </th>
                        <tr *ngFor="let objeto of laboratorio">
                    
                            <td>{{objeto.id}}</td> 
                            <td>{{objeto.labNome}}</td>
                            <td><button type="button" class="btn btn-secondary" style="border-color:rgb(41, 40, 40);" (click)="carregarDados(objeto)">Carregar Dados</button></td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

